.container {
  display: flex;
  background-color: #e2aca5;
  padding: 6px 14px;
  border-radius: 16px;
  color: #fff;
  font-size: 12px;

  img {
    margin-left: 4px;
    width: 10px;
  }
}
