@import "../../styles/breakpoints";

.backgroundImage {
    background-image:url("../../assets/resources-background.png");
    background-size: cover;
}

/* Optional styles for content */
.content {
  text-align: center;
  padding: 40px;
  color: white;
}
.title {
  color: #F6D1CC;
  font-family: "Baloo Chettan 2";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inputSection {
  display: flex;
  justify-content: left;
  margin-left: 10px;
  .inputDiv {
    margin-right: 10px;
    width: 15%;
  }
}

.container {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  background-color: (0, 0, 0, 0.80);
  //margin-top: 40px;
  //margin-left: 60px;
  //display: flex;
  //@media (max-width: $mmd) {
  //  flex-direction: column;
  //  align-items: flex-start;
  //  margin-left: 0px;
  //}
  .child1 {
    //flex: 1;
    //flex-basis: 0;
    //margin-top: 40px;
    //margin-left: 60px;
    @media (max-width: $mmd) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
    }
    .heading {
      color: #F6D1CC;
      font-family: "Baloo Chettan 2";
      font-size: 45px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 250px;
      margin-bottom: 0;
    }
    .subHeading {
      //margin: 5px 0px;
      margin-top: 0;
      margin-bottom: 30px;
      color: #FFF;
      font-family: "Lato";
      font-size: 35px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .h2 {
      color: #FFF;
      font-family: "Lato";
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-right: 30%;
    }
    
  }
  
  .groupHeading {
    color: #E5E5E5;
    font-family: "Lato";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .child2 {
    flex: 1;
    flex-basis: 0;
    display: flex;
    align-items: flex-end;
    gap: 50px;
    img {
      max-width: 100%;
    }
    .playButton {
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.50);; /* Button background color */
      //color: white;
      padding: 10px 20px; /* Adjust padding as needed */
      border: none;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      width: 100px;
      height: 40px;
      cursor: pointer;
      img {
        vertical-align: bottom;
      }
      span{
        color: #000;
        font-family: "Lato";
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -1.8px;
        margin-left: 10px; /* Adjust the spacing between image and text */
        vertical-align: top;
      }

    }
    .moreInfoButton {
      display: inline-block;
      background-color: rgba(44, 44, 44, 0.50); /* Button background color */
      //color: white;
      padding: 10px 20px; /* Adjust padding as needed */
      border: none;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      width: 180px;
      height: 40px;
      cursor: pointer;
      span{
        color: #FFF;
        font-family: "Lato";
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.3px;
        margin-left: 10px; /* Adjust the spacing between image and text */
        vertical-align: top;
      }

    }
  }
}
