.momoHeartDot {
    position: absolute;
    top: 180px;
    left: 205px;
    cursor: pointer;
}
.momoHeadDot {
    position: absolute;
    top: 45px;
    left: 180px;
    cursor: pointer;
}
.momoEyeDot {
    position: absolute;
    top: 55px;
    left: 215px;
    cursor: pointer;
}
.momoHandDot {
    position: absolute;
    top: 180px;
    left: 60px;
    cursor: pointer;
}
.momoChestDot {
    position: absolute;
    top: 190px;
    left: 160px;
    cursor: pointer;
}
.momoTorsoDot {
    position: absolute;
    top: 225px;
    left: 180px;
    cursor: pointer;
}
.momoLegDot {
    position: absolute;
    top: 450px;
    left: 130px;
    cursor: pointer;
}