.yellow {
    background-color: #FFE6BB;
    margin: 0;
    font-family: "lato";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.light {
    //background-color: #ffefec;
    background-color: #FFE6BB;
    margin: 0;
    font-family: "lato";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    //background-color: #FFE6BB;
    margin: 0;
    font-family: "lato";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
