.container{
    margin-bottom: 40px;
    .headline{
        text-align: center;
        color: rgba(0, 0, 0, 0.80);
        font-family: "Lato";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 40px;
    }
    .childContainer{
        display: flex;
        .child1{
            flex: 1;
            flex-basis: 0;
            box-sizing: border-box;
        }
        .child2{
            flex: 1;
            flex-basis: 0;
            //width: 100%;
            box-sizing: border-box;
            margin-right: 0;
            .imageContainer {
                position: relative;
                display: inline-block;
                align-self: center;
                .momo {
                    width: 100%;
                    height: auto;
                    display: block;
                    align-self: center;
                }
            }
            
        }
        .child3{
            flex: 1;
            flex-basis: 0;
            //position: relative;
            width: 100%;
            box-sizing: border-box;
            margin-left: 0;
            .infoHeading {
                color: rgba(0, 0, 0, 0.80);
                font-family: "Lato";
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            .infoDescription {
                color: #000;
                font-family: "Lato";
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            p {
                color: rgba(0, 0, 0, 0.80);

                font-family: "Lato";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            a {
                color: #E2ACA5;
                font-weight: 700;
            }
            img {
                transform: rotate(180deg);
                cursor: pointer;
                margin-right: 10px;
            }
            .back {
                margin-top: 100px;
                color: #000;
                font-family: "Lato";
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                cursor: pointer;
            }
        }
    }
}